* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list ul{
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
}


.list li{
  margin-bottom: 20px;
}
.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;


   position: absolute;
  top: 0;
  left: 0;
  /* height: 100%; */
  width: 100%;
  overflow: hidden; 
}
.home img {
  width: 100%;
}
.home div:nth-child(1) {
  align-self: center;
  padding: 0 40px 0 60px;
}
.home h1,
.home h3 {
  text-transform: uppercase;
}
.home h1 span:nth-child(2),
.home h3 span:nth-child(2) {
  color: #deb707;
}
.home h1 span,
.home h5 {
  font-weight: bold;
}
.home h5 {
  background-color: #deb707;
 text-transform: uppercase;
  padding: 2px 5px;
  display: inline-block;
}
.home p {
  text-align: justify;
  margin-bottom: 20px;
}
.home a {
  text-decoration: none;
  color: white;
  background-color: #deb707;
  padding: 5px 10px;
  border-radius: 50px;
}
.home a:hover {
  background-color: #ff6600;
}
.home h3,
.home h5 {
  margin-bottom: 10px;
}
.m {
  /* margin:  auto; */
  max-width: 1450px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.m .one_stat {
  height: 100%;
  width: 100%;
  background-color: #deb707;
}
.m .one_stat img {
  width: 100%;
}
.m .list {
  text-align: center;
}
.m .list li:hover {
  color: white;
  cursor: pointer;
}
.m .two_3 {
  background-color: #dddddd;
}
.m .two_3 .header_two_3 {
  width: 80%;
  border: 1px dotted gray;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  font-size: 22pt;
  margin: 40px auto;
}
.m .two_3 .rows {
  display: flex;
  gap: 3%;
  margin-bottom: 90px;
}
.m .two_3 .rows p {
  text-align: justify;
}
.m .two_3 .tw_2 {
  width: 80%;
  margin: auto;
}
.m .two_3 h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.m .two_3 h4 {
  margin-bottom: 10px;
}
.m .two_3 .head_color {
  background-color: #deb707;
  padding: 4px;
  color: white;
  display: inline-block;

}
.m .two_3 .h3_2 {
  margin-top: 30px;
}
.m .two_3 .rows2 {
  margin-bottom: 80px;
}
.two_4 {
  background-color: #dddddd;
}
.two_4 .header_two_4 {
  width: 80%;
  border: 1px dotted gray;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  font-size: 22pt;
  margin: 40px auto 0 auto;
}
.two_4 .rows_4 {
  width: 80%;
  margin: 90px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2%;
  row-gap: 4%;
}
.two_4 .rows_4 .user_photo {
  width: 120px;
}
.two_4 .rows_4 .col {
  background-color: black;
  padding: 8%;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.two_4 .rows_4 .col > div:nth-child(3) {
  grid-row: 2;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}
.two_4 .rows_4 .col > div:nth-child(3) .star img {
  width: 20px;
  height: 20px;
}
.two_4 .rows_4 .col > div:nth-child(3) .text {
  justify-self: end;
}
.two_4 .rows_4 .col > div:nth-child(2) {
  align-self: center;
}
.two_4 .rows_4 .col > div:nth-child(2) h3,
.two_4 .rows_4 .col > div:nth-child(2) h4,
.two_4 .rows_4 .col > div:nth-child(2) p {
  margin-bottom: 5px;
}
.two_4 .rows_4 .col > div:nth-child(2) h3 {
  font-size: 14pt;
  color: #deb707;
}
.two_4 .rows_4 .col > div:nth-child(2) h4 {
  font-size: 11pt;
}
.two_4 .rows_4 .col > div:nth-child(2) p {
  font-size: 8pt;
  text-align: justify;
}
.two_5 {
  background-color: #dddddd;
  padding-bottom: 80px;
}
.two_5 .header_two_5 {
  width: 80%;
  border: 1px dotted gray;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  font-size: 22pt;
  margin: 40px auto 0 auto;
}
.two_5 .porto_flex {
  width: 80%;
  margin: 95px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2%;
  row-gap: 5%;
}
/* -------///////// */
.two_5 .porto_flex .web_des{
margin: 23px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: -12%;
  row-gap: 15%;
  justify-content: center;
        }

.two_5 .porto_flex .web_des img {
  width: 100%;
  height: 200px;
}

        /* ---------------- */
.two_5 .porto_flex img {
  width: 100%;
  height: 130px;
}

.two_5 .two_5_stat li{
  text-transform: uppercase;
  font-weight: 500;
}

.two_5 .two_5_stat ul {
  list-style-type: none;
  display: flex;
  gap: 2%;
  justify-content: center;
  margin-top: 20px;
  font-size: 16pt;
}
.two_5 .two_5_stat ul .activ {
  font-weight: bold;
  color: white;
}
.two_5 .two_5_stat ul li:hover {
  font-weight: bold;
  color: white;
  cursor: pointer;
}


nav{
  position: fixed;
  top: 40%;
  right: 5%;
  z-index: 1;
  width: 2%;
  background-color: #deb707;
  padding: 10px 5px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav img{
  cursor: pointer;
  width: 100%;
  height: 100%;
}




/* =--------------*/


.About {
  overflow: hidden;
  height: 100%;
  /* max-height: 500px; */
  /* max-width: 980px; */
  /* margin: auto ; */
  padding: 35px;
  background-color: rgb(202, 202, 202);
 
}

.about__text-title {
  /* display: block; */
  margin-bottom: 15px;
  padding: 20px 50px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid;
}



.about__text-content {
  font-size: 17px;
  margin-bottom: 5px;
}

.about-subtitle {
  font-size: 27px;
  margin-bottom: 12px;
}

.about__text-content span {
  font-size: 23px;
  font-weight: bold;
  /* text-transform: uppercase; */
}

.about__text {
  margin-bottom: 55px;
}

.about__info {
  max-height: 500px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.about_info-1 {
  max-width: 580px;
  max-height: 480px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  grid-template-rows: 20px;
  /* gap: 12px; */

}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 3.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.hr4 {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 3.9em;
  margin-block-end: -4em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.hr3 {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 3.9em;
  margin-block-end: 2em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.about_item {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 260px;
  padding: 25px 15px;
}


.about_item p {
  font-weight: bold;
  font-size: 64px;
  color: rgb(240, 171, 41);
  margin-bottom: 5px;
}

.about_item span {
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
}

.about_info-2 {
  padding: 0 60px;
}

.about_info-2 h5 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about_info-2 h6 {
  font-size: 22px;
  text-align: left;
  /* margin-bottom: 10px; */
}

.about_info-2__box {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.about_box {
  display: flex;
  gap: 18px;
}

.about_box img {
  width: 70px;
  height: 70px;
}

.box-text {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
}



/* -----    */




.contact_nav,
.resume_nav {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  background-color: rgb(240, 171, 41);
  margin-top: -4px;
  padding: 46px;
  text-align: center;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
}

.menu__list-item {
  color: inherit;
}

.menu__list-item:hover {
  color: aliceblue;
  transition: all .3s;
}

.contact_img img {
  width: 100%;
  height: 100%;
}

.icon img {
  width: 120px;
  height: 120px;
}

.contact_text {
  margin: 20px 40px 20px 20px;
}

.contact_text-title,
.resume_text-title,
.testimonials_text-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid;
  text-align: center;
}

.contact_content {
  margin: 40px 10px;
}

.contact_content h6 {
  margin: 15px 0;
  font-size: 22px;
  font-weight: normal;
}

.contact_content span {
  font-weight: bold;
}

.contact_icons {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  text-align: center;
  align-items: center;
}

.icon a {
  /* margin-bottom: 3px; */
  display: block;
  text-decoration: none;
  color: inherit;
}

.contact-subtitle h5 {
  font-size: 29px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  padding: 55px 20px 40px 50px;
  margin: 80px 0 65px;
}


@media screen and (max-width: 990px) {
  .resume_info {
    margin: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .resume_box1,
  .resume_box2 {
    margin: 15px;

  }

  .contact_text-title,
  .resume_text-title,
  .testimonials_text-title {
    font-size: 23px;
  }

  .top-test img {
    display: none;
  }

  .top-name {
    font-size: 25px;
  }

  .top-test {
    padding: 1px 10px;
  }

}



@media screen and (max-width: 900px) {

  .testimonials-info_items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

  }

  .testimonials-info_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1px;
    width: 600px;
  }

}


@media screen and (max-width: 700px) {

  .resume_box1,
  .resume_box2 {
    width: 100%;
    padding: 5px;
    margin: 0;
  }

  .contact_text-title,
  .resume_text-title,
  .testimonials_text-title {
    font-size: 17px;
  }

  .resume_info {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .resume-hr {
    display: none
  }
}

@media screen and (max-width: 1290px) {
  .about_item{
        text-align: center;
          height: 115px;
          width: 230px;
          padding: 25px 15px;
  }
  .about__text-title{
    font-size: 25px;
  }
  .about__text{
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 1370px){
    .about_item p {
        font-size: 40px;
      }
      .hr3,
      hr,.hr4 {
        display: none;
      }
}


@media screen and (max-width: 1000px) {
     .about__text-title{
        margin-bottom: 10px;
        padding: 8px 39px;
        text-align: center;
        font-size: 27px;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid;
     }
     .about__text{
      margin-bottom: 35px;
     }
     .about_item p{
      font-size: 35px;
     }

     .about_item{
          align-items: center;
            text-align: center;
            height: 107px;
            width: 221px;
            padding: 11px 13px;
          }
          .hr3,hr{
            display: none;
          }
          .two_4 .rows_4 .user_photo{
            display: none;
          }

          .two_4 .rows_4 .col{
            display: grid;
            grid-template-columns: auto;
          }

          .two_5 .porto_flex{
            margin: auto;
          }
                    .two_5 .porto_flex img{
                      height: 100px;
                    }

                    nav{
                          top: 28%;
                            right: 3%;
                    }
     }
